* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header .container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

main .container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

footer .container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}


.nav {
  height: 96px;
  background: rgb(33, 37, 38);
  display: flex;
  align-items: center;
}
.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly__time {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}

.num {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
}

.zakaz {
  color: rgb(252, 87, 59);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}

.our_num {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.piu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icons {
  display: flex;
  gap: 1px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  background: rgb(59, 59, 59);
  transition: 0.2s;
  position: relative;
}
.icon:hover {
  background: rgb(240, 90, 0);
}

.sm {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.add {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}

.sm span {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
}

.icon__count {
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  padding: 5px 8px;
  border-radius: 50%;
  background: rgb(240, 90, 0);
  position: absolute;
  top: 23px;
  right: 20px;
}

.icon:hover .icon__count {
  background: rgb(59, 59, 59);
}

.nav__two {
  background: rgb(0, 0, 0);
}

.mini-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.ca-title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}

.btn {
  background: rgb(0, 0, 0);
  border: 1px solid rgb(240, 90, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
  width: 200px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
} 


.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.5px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  padding: 9px 0;
}

.sociall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.5px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  padding: 11.7px 0;
}
.socialll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.5px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  padding: 7.2px 0;
}

.write {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 17px 0 17px 20px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 310px;
}

.wr {
  outline: none;
  border: 0;
  width: 200px;
}

.wr::placeholder {
  color: rgb(138, 138, 138);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}

.header-content {
  background: rgb(33, 37, 38);
}

.block-content {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.smths {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work {
  background-image: url('./images/work.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 640px;
  height: 488px;
}

.de {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 32px;
  width: 580px;
  margin-bottom: 139px;
}

.ppp {
  padding-left: 24px;
}

.bbtn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 14px 32px;
  border-radius: 5px;
  background: rgb(240, 90, 0);
  transition: 0.2s;
}
.bbtn:hover {
  background: rgb(33, 37, 38);
}

.shrup {
  background-image: url('./images/shrup.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 311px;
  height: 488px;
}
.pp {
  padding: 16px 0 0 16px;
}
.shr {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}


.smth1 {
  background-image: url('./images/smth1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 310px;
  height: 234px;
}
.smth2 {
  background-image: url('./images/smth2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 310px;
  height: 234px;
}

.one {
  padding: 16px 0 0 16px;
}

.one h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}