* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header .container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

main .container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

footer .container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

